<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <i style="color: #ffc107;" class="bi bi-cart4"></i>
    <a class="navbar-brand ms-2" href="#">Easy Cart</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">      
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" >Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders">Orders</a>
        </li>
      </ul>
    </div>

    <div class="d-flex">
      <input class="form-control me-2" type="search" style="border-radius: 10px;" placeholder="Search" aria-label="Search">
    
    </div>
    
    <div class="px-3">
      <button type="button" style="border-radius: 10px;" class="btn btn-warning btn-sm position-relative">
        <i class="bi bi-cart4"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          99+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
  </nav>