<div class="border-bottom p-2">
    <h5>Shopping Cart</h5>
</div>
<div class="cart-container d-flex flex-row" *ngIf="cart">

    <div class="w-75">
        <div *ngIf="cart.items.length === 0" class="empty-cart-message">
            <p>Your cart is empty.</p>
        </div>
        <div *ngFor="let item of cart.items" class="cart-item">
            <div class="p-2">
                <app-image-loader [imageId]="item.product.image"></app-image-loader>
            </div>
            <div class="cart-item-details p-2">
                <h3>{{item.product.name}}</h3>
                <p>{{item.product.description}}</p>
                <p>{{item.product.category}}</p>
                <p class="price">Price: ${{item.product.price}}</p>
                <p>Quantity: {{item.quantity}}</p>
            </div>
        </div>
    </div>

    <div class="w-25">
        <div *ngIf="cart.items.length !== 0" class="cart-summary bg-light p-3">
            <i class="bi bi-cart4"></i><span class="fs-5 ms-2"><b>Cart Summary</b> </span>
            <p class="mt-2">Total Price: ${{cart.price}}</p>
            <button class="btn btn-primary w-100" (click)="checkout()"
                style="background-color: #ffa41c;border-color: #ffa41c;">Proceed to Buy</button>

        </div>
    </div>

    <!-- Item 1 -->



</div>