<div class="p-2 border-bottom">
    <h2>Your Orders</h2>
   
</div>
<div *ngFor="let order of orders" class="p-2 ek-card-full-width mt-3">
    <h4>Order ID: {{ order.id }}</h4>
    <div class="d-flex flex-row">
        <div class="ms-2"><p class="text-primary">Price: {{ order.price | currency }}</p></div>
        <div class="ms-2"><p> <b>Status:</b> {{ order.status }}</p></div>
        <div class="ms-2"><p> <b>Created On:</b> {{ order.createdDate | date:'short' }}</p></div>
    </div>
    <!-- <h4>Items:</h4>
    <ul>
        <li *ngFor="let item of order.items">
            <b> Product ID: </b>{{ item.productId }},  <b>Quantity:</b> {{ item.quantity }}
        </li>
    </ul> -->
</div>