<div *ngIf="isLoaded">
    

    <ng-template #noProducts>
        <p>No products available.</p>
    </ng-template>

    <div *ngFor="let cat of categories">
        <div class="p-2">
            <h3>{{cat.name}}</h3>
        </div>
        <div>
            <div *ngIf="getProdcutsByCategory(cat.id).length; else noProducts" class="d-flex flex-row">
                <div *ngFor="let product of getProdcutsByCategory(cat.id)">
                    <app-product-tile [product]="product"></app-product-tile>
                </div>
            </div>
        </div>
    </div>
</div>