<div *ngIf="isLoaded">
    

    <ng-template #noProducts>
        <p>No products available.</p>
    </ng-template>

    <div *ngFor="let cat of categories">
        <div class="p-1">
            <h5>{{cat.name}}</h5>
        </div>
        <div>
            <div *ngIf="getProdcutsByCategory(cat.id).length; else noProducts" class="d-flex flex-row">
                <div *ngFor="let product of getProdcutsByCategory(cat.id)">
                    <div *ngIf="cat.name === 'Laptop'">
                        <app-product-tile [product]="product" [width]="'150px'"></app-product-tile>
                    </div>
                    <div *ngIf="cat.name !== 'Laptop'">
                        <app-product-tile [product]="product"></app-product-tile>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>