/* You can add global styles to this file, and also import other style files */
.ek-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;    
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px;
    text-align: center;
  }
  
  .ek-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }